<mat-toolbar class="admin-navbar">
  <div class="navbar-brand">
    <mat-icon class="brand-icon">fitness_center</mat-icon>
    <span class="brand-text">Mi aplicación</span>
  </div>

  <span class="spacer"></span>

  <nav class="nav-links">
  </nav>

  <div class="user-section">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>